body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.grid-container > div:nth-child(1) {
    border: 2px solid red;
}

.card-content {
    color: white;
    transition: 0.5s;
}

.card-content:hover {
    color: red;
}

h3::before {
    content: "🍕";
}

.card-text::after {
    content: "🔥";
}

@media(max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr ;
    }
}